* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

div.grid {
    background-color: white;
}

div.full-grid-container {
    border: 1px solid black;
    background-color: black;
    height: 480px;
    flex-grow: 0;
}

div.row-container {
    display: flex;
}

body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    gap: 22vh;
}

.content {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
}

.buttons {
    gap: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    background-color: gray;
    justify-content: flex-end;
}

.empty span {
    color: #fff;
}

.empty {
    width: 185px;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.individual-tool {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.individual-color {
    display: flex;
    justify-content: space-between;
}

.opacity-div {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.keyboard-shortcuts {
    padding: 0 10px;
}

ul {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

button {
    margin: 0 30px;
}
