* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

div.grid {
    width: 20px;
    height: 20px;
    background-color: red;
}

div.row-container {
    width: 320px;
    display: flex;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}