* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

div.grid {
    background-color: white;
}

div.full-grid-container {
    border: 1px solid black;
    background-color: black;
}

div.row-container {
    display: flex;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

